* {
    margin: 0 auto;
}

body {
    background-color: rgb(224, 189, 224)
}

.green {
    background-color: rgb(188, 252, 188);
    text-align: center;
    border-top: 4px solid rgb(89, 146, 51);
    border-bottom: 4px solid rgb(89, 146, 51);
    padding: 20px;
}

.box {
    text-align: center;
    margin-top: 30px;
}

#start-btn {
    font-weight: bold;
    font-size: large;
    border: 3px purple solid;
    background-image: linear-gradient(90deg, rgb(255, 31, 117),rgb(255, 187, 148),rgb(70, 172, 255)) ;
}

